/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

@font-face {
  font-family: adventuretime;
  src: url(av.ttf);
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 3s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: rgb(64, 169, 200);
  width:225px;
  height:540px;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;
  height:600px;
  width:600px;
}

.piezas {
  height:200px;
  width:200px;
  float:left;
}

#objetivoimg{
  height:150px;
  width:150px;
  clear: both;
}

#flecha{
  font-size: 60px;
}

#titulo{
  color: #000;
  font-family: adventuretime;
font-size: 20px;
border-style: ridge;
 text-align: center;
background-color: aqua;
}

#instrucciones{
  border-top: 5px;
}
#objetivo{

}
#ultimo-mov{
  float: left;
}
#footer {
  background-color: rgb(46, 46, 46);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 50px;
}
#juego div {
  text-align: center;
  animation: fadein 2s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
